<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Magento Checkout Automation" parallel="methods" thread-count="3">
    <test name="Checkout Tests">
        <classes>
            <class name="tests.E2ETests"/>
        </classes>
    </test>
</suite>